
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');

* {
  box-sizing: border-box;
}

body {
  //background: rgb(224,255,0);
  //background: radial-gradient(circle, rgba(224,255,0,0.7651435574229692) 0%, rgba(255,119,0,1) 50%);
  background: linear-gradient(105deg, rgba(31,110,212,0.6278886554621849) 24%, rgba(251,251,251,1) 43%, rgba(255,171,0,0.6194852941176471) 57%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Lato;
  margin: 0;
}

.title {
  letter-spacing: 3px;
  background-color: #eee;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  box-shadow: inset 5px 5px 5px rgba(100,100,100,0.9);

}

.btn {
  letter-spacing: 3px;
  background-color: #eee;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  box-shadow: inset 5px 5px 5px rgba(100,100,100,0.9);
  font-size: 1.5rem;
  font-weight: bold;
}

.poke_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

#pokerand_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.pokemon {
  transition-duration:1s;
  background-color: #eee;
  border-radius: 20px;
  box-shadow: inset 5px 5px 5px rgba(100,100,100,0.9);
  padding: 20px;
  margin: 10px;
  text-align: center;
  .img-container {
    display: flex;
    margin-top: 20px;
    height: 150px;
    width: 150px;
    max-width: 100%;
    min-width: 100%;
    img {
      border: solid 1px;
      box-shadow: inset 5px 5px 5px rgba(100,100,100,0.9);
      border-radius: 20px;
      width: 200px;
    }
    img:hover {
      box-shadow: 5px 5px 5px rgba(100,100,100,0.9);
    }
  }
  .info {
    margin-top: 20px;
    .number {
      background-color: #eee;
      border: solid 1px;
      box-shadow: 2px 2px 2px rgba(100,100,100,0.9);
      border-radius: 10px;
      font-size: 0.8em;
      padding: 5px 10px;
    }
    .name {
      margin: 15px 0 7px;
      letter-spacing: 1px;
    }
  }
}

.pokemon:hover {
  transition-duration:1s;
  transition-property: scale;
  background-color: red;
  scale: 1.1;
  box-shadow: 5px 5px 5px rgba(100,100,100,0.9);
}


.pokemon

.pokemon .number {
  background-color: #eee;
  border: solid 1px;
  box-shadow: 2px 2px 2px rgba(100,100,100,0.9);
  border-radius: 10px;
  font-size: 0.8em;
  padding: 5px 10px;
}

.pokemon .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}

